
<div class="container heading">
  <div class="row">
    <div class="col-md-12">
      <h1>ORDER DASHBOARD</h1>
      <hr>
        <h6>{{instructions}}</h6>
      <hr>
      <button type="button" class="btn btn-success" style="margin: 5px;" (click)="startDay()">Start Work</button>
      <button type="button" class="btn btn-primary" style="margin: 5px;" (click)="pauseDay()">Break Time</button>
      <button type="button" class="btn btn-danger" style="margin: 5px;" (click)="stopDay()">Stop Work</button>
      <button type="button" class="btn btn-warning" style="margin: 5px;" (click)="initializeLottery()" [disabled]="superLottery">Start Lottery</button>
      <button type="button" class="btn btn-warning" style="margin: 5px;" (click)="initializeSuperLottery()" [disabled]="lottery">Start SUPER Lottery</button>
    </div>
  </div>
  <hr>
</div>

<div class="container">
  <div class="col-md-12">
    <app-lottery-winning-order
     [orders]="ordersArray"
     [lottery]="lottery">
    </app-lottery-winning-order>
  </div>
  <div class="col-md-12">
    <app-super-lottery
    [winner]="winningOrder"
    [superLottery]="superLottery">
  </app-super-lottery>
  </div>
</div>

<div class="container body">
  <div class="row">
    <div class="col-sm">
      <app-order-dashboard [orders]="ordersArray"></app-order-dashboard>
    </div>
    <div class="col-sm">
      <app-first-five-orders [orders]="ordersArray"></app-first-five-orders>
    </div>
    <div class="col-sm">
      <app-all-other-orders [orders]="ordersArray"></app-all-other-orders>
    </div>
  </div>
</div>
<div class="container">
  <p>Hi, I'm Jessie & I'm taking a web developer course through CodeFi CodeLabs.</p>
  <p>I created this app because of an assignment we had. These are the instructions:</p>
  <p>### Class Exercise
    1. Create a new Angular application.
    2. Generate three components using the CLI:
       - "order-dashboard": a component that displays all customer orders.
       - "first-five-orders": a component that displays content for the
    first five orders.
       - "all-other-orders": a component that displays content for any
     order that isn't in the first five group.
    3. The "OrderDashboardComponent" should contain a list of all orders,
     a button that starts the work day, and a button that ends the work day.
      - When the work day begins, a new order should be created every
    2 seconds. (Orders should just be an incrementing number starting
    from 1.)
       - When the work day ends, no more orders should be placed.
    4. The "FirstFiveOrdersComponent" & the "AllOtherOrdersComponent"
     should be styled differently by using colors, sizes, and content.
       - "FirstFiveOrdersComponent" should only show the first five orders.
       - "AllOtherOrdersComponent" should display all orders past the
    first five.
    5. Publish your project to GitHub!
    *Bonus*: Create a third component "lottery-winning-order" that has
    a gold background and displays for every seventh order.

    <!--I'm working on this Super-Bonus, but haven't quite figured it out YET-->
    <!-- *Super-Bonus*: The lottery winning number should now display randomly
    on 5% of all orders. When this occurs. The work day should end and
    the user should receive an alert message: "You won our companies
    lottery. Your number was output their number. (You may have to
    restructure your code to complete this... but it can be done using
    what you already know in Angular.) -->
    </p>
    <p>I wanted to incorporate all of the features required, and complete both bonuses without getting rid of the code I'd already created.</p>
    <p>To work with this I decided to create buttons that can enable or disable the bonus features. Enjoy!</p>
</div>
